[SECURE_ENGINE]
SOFTWARE_NAME=
OPTION_XBUNDLER_NUMBER_FILES=0
OPTION_PLUGINS_NUMBER_FILES=0
ADVANCED_OPTIONS_NUMBER=0
OPTION_MACROS_DISABLE_AT_RVA_NUMBER=0
OPTION_VIRTUAL_MACHINE_NUMBER=1
OPTION_VIRTUAL_MACHINE_ID_AT_0=0x28E9D505
OPTION_VIRTUAL_MACHINE_CPUS_AT_0=1
OPTION_VIRTUAL_MACHINE_PROTECTION_BOOT_ID=0x28E9D505
OPTION_VIRTUAL_MACHINE_OLD_VM_MACROS_ID=0x28E9D505
MSG_ID_GLOBAL_CAPTION_ICON=INFORMATION
MSG_ID_GLOBAL_CAPTION_IS_ENABLED=true
MSG_ID_GLOBAL_CAPTION_NUMBER_LANGUAGES=1
MSG_ID_GLOBAL_CAPTION_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_GLOBAL_CAPTION_LANGUAGE_0_TEXT=Themida
MSG_ID_DEBUGGER_ICON=ERROR
MSG_ID_DEBUGGER_IS_ENABLED=true
MSG_ID_DEBUGGER_NUMBER_LANGUAGES=1
MSG_ID_DEBUGGER_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_DEBUGGER_LANGUAGE_0_TEXT=A debugger has been found running in your system.\nPlease, unload it from memory and restart your program
MSG_ID_MONITOR_ICON=ERROR
MSG_ID_MONITOR_IS_ENABLED=true
MSG_ID_MONITOR_NUMBER_LANGUAGES=1
MSG_ID_MONITOR_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_MONITOR_LANGUAGE_0_TEXT=A monitor program has been found running in your system.\nPlease, unload it from memory and restart your program
MSG_ID_CRACK_TOOL_ICON=ERROR
MSG_ID_CRACK_TOOL_IS_ENABLED=true
MSG_ID_CRACK_TOOL_NUMBER_LANGUAGES=1
MSG_ID_CRACK_TOOL_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_CRACK_TOOL_LANGUAGE_0_TEXT=A cracker's tool has been found running in your system.\nPlease, unload it from memory and restart your program
MSG_ID_FILE_CORRUPTED_ICON=ERROR
MSG_ID_FILE_CORRUPTED_IS_ENABLED=true
MSG_ID_FILE_CORRUPTED_NUMBER_LANGUAGES=1
MSG_ID_FILE_CORRUPTED_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_FILE_CORRUPTED_LANGUAGE_0_TEXT=File corrupted!. This application has been manipulated and maybe\nit's infected by a Virus or cracked. This application won't work anymore
MSG_ID_EXCEPTION_ICON=ERROR
MSG_ID_EXCEPTION_IS_ENABLED=true
MSG_ID_EXCEPTION_NUMBER_LANGUAGES=1
MSG_ID_EXCEPTION_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_EXCEPTION_LANGUAGE_0_TEXT=An internal exception occurred (Address: 0x%x)\nPlease, contact yoursite@yoursite.com. Thank you!
MSG_ID_VIRTUAL_PC_ICON=ERROR
MSG_ID_VIRTUAL_PC_IS_ENABLED=true
MSG_ID_VIRTUAL_PC_NUMBER_LANGUAGES=1
MSG_ID_VIRTUAL_PC_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_VIRTUAL_PC_LANGUAGE_0_TEXT=Sorry, this application cannot run under a Virtual Machine
MSG_ID_MISSING_DLL_ICON=ERROR
MSG_ID_MISSING_DLL_IS_ENABLED=true
MSG_ID_MISSING_DLL_NUMBER_LANGUAGES=1
MSG_ID_MISSING_DLL_LANGUAGE_0_ID=[DEFAULT]
MSG_ID_MISSING_DLL_LANGUAGE_0_TEXT=The DLL "%s" cannot be loaded
OPTION_PROTECTION_IS_ANTIDEBUG=false
OPTION_PROTECTION_IS_API_WRAPPER_ENABLED=false
OPTION_COMPRESSION_COMPRESS_APPLICATION=false
OPTION_COMPRESSION_COMPRESS_RESOURCES=false
OPTION_COMPRESSION_COMPRESS_SECUREENGINE=false
OPTION_MACROS_ENCRYPT_ANSI_STRINGS=false
OPTION_MACROS_ENCRYPT_UNICODE_STRINGS=false
OPTION_MACROS_STRING_REENCRYPT=false
OPTION_EXTRA_IS_MANIFEST_FILE_ENABLED=false
OPTION_EXTRA_MANIFEST_FILE=
OPTION_EXTRA_IS_MANIFEST_FROM_XBUNDLER=false
OPTION_PROTECTION_IS_FILE_REGISTRY_MONITORS=false
OPTION_PROTECTION_IS_ENTRYPOINT_OBFUSCATION=false
OPTION_PROTECTION_IS_ANTIDEBUG=false
OPTION_PROTECTION_IS_ANTIPATCHING=false
OPTION_PROTECTION_IS_SANDBOX_MONITORS=false
OPTION_PROTECTION_IS_VMWARE_SUPPORT=true
OPTION_MACROS_INTEGRITY_CHECKS=true
OPTION_PROTECTION_IS_SPEED_OVER_PROTECTION=false
OPTION_PROTECTION_IS_SIZE_OVER_PROTECTION=false
OPTION_PROTECTION_IS_OPTIMIZE_WINDOWS_ARM=false
OPTION_EXTRA_IS_SPLASH=false
OPTION_EXTRA_SPLASH_FILENAME=
OPTION_EXTRA_SPLASH_DISPLAY_SECONDS=0
OPTION_EXTRA_SPLASH_CLOSE_ON_CLICK=true
OPTION_EXTRA_SPLASH_CLOSE_AFTER_SECONDS=false
OPTION_EXTRA_SPLASH_CLOSE_BY_SDK=false
OPTION_PLUGINS_PROCESS_HOOKING=false
OPTION_XBUNDLER_IS_ENABLED=false
OPTION_XBUNDLER_IS_DELETE_ON_EXIT=false
OPTION_XBUNDLER_HOOK_FIND_NEXT_FILE=false
OPTION_XBUNDLER_MAXIMIZE_SPEED=false
OPTION_XBUNDLER_IS_ACTIVEX_SUPPORT=false
OPTION_XBUNDLER_IS_SUPPORT_GETPRIVATEPROFILE=false
OPTION_XBUNDLER_EXCEPTION_SUPPORT=false
INPUT_FILE_NAME=C:\\Users\\Administrator.WIN-OVDMKOF0FUK\\Documents\\api\\temp_binary_6aa86b4e-61f9-4761-853a-14721f8f010a_b08bca98-7b97-4db2-bce8-49a3765fd530.exe
OUTPUT_FILE_NAME=C:\\Users\\Administrator.WIN-OVDMKOF0FUK\\Documents\\api\\temp_binary_6aa86b4e-61f9-4761-853a-14721f8f010a_b08bca98-7b97-4db2-bce8-49a3765fd530.protected.exe
OPTION_MACROS_MAP_FUNCTIONS_NUMBER=256
OPTION_MACROS_MAP_FUNCTION_NAME_AT_0=main
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_0=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_1=fprintf
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_1=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_2=verCases_exitWithStatus
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_2=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_3=verCases_writeTestsPerformed
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_3=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_4=verCases_perTenThousand
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_4=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_5=verCases_writeErrorFound
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_5=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_6=f64_same
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_6=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_7=f64_isNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_7=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_8=test_a_i64_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_8=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_9=test_abz_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_9=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_10=test_a_i32_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_10=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_11=extF80M_same
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_11=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_12=extF80M_isNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_12=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_13=test_az_extF80_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_13=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_14=f32_eq
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_14=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_15=test_a_f32_z_ui32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_15=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_16=f32_to_i32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_16=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_17=test_ab_f32_z_bool
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_17=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_18=test_a_f32_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_18=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_19=f32_same
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_19=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_20=f32_isNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_20=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_21=test_a_i64_z_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_21=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_22=test_a_f64_z_i64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_22=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_23=test_az_f32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_23=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_24=extF80M_to_i64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_24=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_25=f64_to_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_25=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_26=i64_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_26=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_27=f64_to_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_27=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_28=f32_roundToInt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_28=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_29=f32_lt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_29=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_30=test_a_f64_z_ui32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_30=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_31=test_a_extF80_z_ui32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_31=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_32=f32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_32=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_33=test_a_i32_z_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_33=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_34=extF80M_to_i32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_34=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_35=f64_to_i64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_35=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_36=f64_to_i32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_36=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_37=f32_to_i64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_37=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_38=i64_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_38=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_39=genCases_setLevel
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_39=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_40=test_abz_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_40=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_41=verCases_writeFunctionName
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_41=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_42=test_a_f64_z_i32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_42=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_43=i32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_43=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_44=test_abz_extF80
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_44=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_45=test_a_f32_z_i32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_45=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_46=subjfloat_setRoundingMode
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_46=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_47=subjfloat_clearExceptionFlags
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_47=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_48=subj_ui32_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_48=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_49=subj_ui64_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_49=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_50=subj_i32_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_50=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_51=subj_i64_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_51=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_52=subj_f32_to_ui32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_52=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_53=subj_f32_to_ui64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_53=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_54=subj_f32_to_i32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_54=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_55=subj_f32_to_i64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_55=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_56=subj_f32_add
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_56=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_57=subj_f32_sub
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_57=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_58=subj_f32_mul
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_58=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_59=subj_f32_div
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_59=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_60=subj_f32_eq
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_60=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_61=subj_f32_le
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_61=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_62=subj_f32_lt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_62=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_63=subj_ui32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_63=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_64=subj_ui64_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_64=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_65=subj_i32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_65=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_66=subj_i64_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_66=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_67=subj_f32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_67=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_68=subj_f64_to_ui32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_68=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_69=subj_f64_to_ui64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_69=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_70=subj_f64_to_i32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_70=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_71=subj_f64_to_i64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_71=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_72=subj_f64_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_72=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_73=subj_f64_add
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_73=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_74=subj_f64_sub
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_74=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_75=subj_f64_mul
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_75=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_76=subj_f64_div
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_76=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_77=subj_f64_sqrt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_77=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_78=subj_f64_eq
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_78=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_79=subj_f64_le
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_79=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_80=subj_f64_lt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_80=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_81=subj_ui32_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_81=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_82=subj_ui64_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_82=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_83=subj_i32_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_83=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_84=subj_i64_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_84=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_85=subj_f32_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_85=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_86=subj_f64_to_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_86=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_87=subj_extF80M_to_ui32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_87=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_88=subj_extF80M_to_ui64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_88=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_89=subj_extF80M_to_i32_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_89=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_90=subj_extF80M_to_i64_rx_minMag
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_90=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_91=subj_extF80M_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_91=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_92=subj_extF80M_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_92=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_93=subj_extF80M_add
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_93=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_94=subj_extF80M_sub
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_94=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_95=subj_extF80M_mul
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_95=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_96=subj_extF80M_div
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_96=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_97=subj_extF80M_eq
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_97=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_98=subj_extF80M_le
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_98=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_99=subj_extF80M_lt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_99=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_100=ui64_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_100=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_101=ui32_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_101=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_102=test_ab_extF80_z_bool
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_102=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_103=test_a_f64_z_ui64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_103=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_104=f32_to_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_104=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_105=test_a_ui64_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_105=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_106=extF80M_roundToInt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_106=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_107=extF80M_to_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_107=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_108=test_ab_f64_z_bool
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_108=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_109=vfprintf
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_109=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_110=fail
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_110=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_111=test_a_ui32_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_111=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_112=test_a_ui64_z_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_112=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_113=extF80M_to_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_113=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_114=f32_le
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_114=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_115=test_a_ui32_z_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_115=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_116=f64_lt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_116=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_117=ui64_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_117=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_118=f64_roundToInt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_118=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_119=test_a_f32_z_i64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_119=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_120=test_a_extF80_z_i32_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_120=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_121=f32_to_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_121=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_122=test_a_f32_z_ui64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_122=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_123=ui32_to_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_123=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_124=i32_to_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_124=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_125=test_a_extF80_z_ui64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_125=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_126=test_az_f64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_126=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_127=test_a_extF80_z_i64_rx
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_127=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_128=f64_eq
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_128=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_129=f64_le
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_129=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_130=writeCase_z_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_130=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_131=writeCase_a_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_131=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_132=genCases_i64_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_132=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_133=genCases_i64_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_133=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_134=f64_isSignalingNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_134=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_135=genCases_writeTestsTotal
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_135=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_136=genCases_f64_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_136=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_137=genCases_f64_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_137=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_138=genCases_f64_ab_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_138=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_139=genCases_f64_ab_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_139=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_140=genCases_f64_abc_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_140=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_141=genCases_f64_abc_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_141=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_142=writeCase_ab_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_142=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_143=genCases_i32_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_143=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_144=genCases_i32_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_144=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_145=writeCase_a_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_145=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_146=writeCase_a_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_146=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_147=extF80M_isSignalingNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_147=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_148=genCases_extF80_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_148=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_149=genCases_extF80_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_149=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_150=genCases_extF80_ab_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_150=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_151=genCases_extF80_abc_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_151=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_152=genCases_extF80_abc_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_152=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_153=writeCase_z_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_153=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_154=genCases_f32_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_154=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_155=genCases_f32_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_155=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_156=genCases_f32_ab_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_156=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_157=genCases_f32_ab_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_157=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_158=genCases_f32_abc_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_158=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_159=genCases_f32_abc_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_159=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_160=writeCase_a_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_160=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_161=writeCase_z_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_161=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_162=softfloat_shiftRightJam64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_162=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_163=softfloat_roundToI32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_163=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_164=f32_isSignalingNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_164=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_165=writeCase_ab_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_165=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_166=writeCase_z_bool
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_166=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_167=writeCase_z_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_167=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_168=writeCase_z_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_168=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_169=writeCase_a_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_169=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_170=extF80_to_i64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_170=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_171=softfloat_roundToUI64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_171=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_172=softfloat_shiftRightJam64Extra
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_172=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_173=softfloat_shortShiftRightJam64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_173=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_174=softfloat_roundPackToF32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_174=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_175=softfloat_countLeadingZeros64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_175=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_176=softfloat_roundToUI32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_176=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_177=softfloat_propagateNaNF32UI
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_177=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_178=softfloat_f32UIToCommonNaN
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_178=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_179=softfloat_normSubnormalF32Sig
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_179=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_180=softfloat_commonNaNToF64UI
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_180=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_181=extF80_to_i32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_181=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_182=softfloat_roundToI64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_182=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_183=softfloat_normRoundPackToF64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_183=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_184=softfloat_countLeadingZeros32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_184=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_185=writeCase_ab_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_185=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_186=softfloat_roundPackToF64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_186=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_187=softfloat_normRoundPackToF32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_187=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_188=genCases_ui64_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_188=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_189=genCases_ui64_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_189=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_190=extF80_roundToInt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_190=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_191=extF80_to_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_191=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_192=genCases_ui32_a_init
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_192=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_193=genCases_ui32_a_next
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_193=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_194=extF80_to_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_194=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_195=softfloat_propagateNaNF64UI
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_195=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_196=writeHex_bool
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_196=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_197=writeHex_ui8
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_197=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_198=writeHex_ui16
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_198=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_199=writeHex_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_199=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_200=writeHex_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_200=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_201=writeHex_bf16
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_201=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_202=writeHex_f32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_202=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_203=writeHex_f64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_203=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_204=writeHex_extF80M
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_204=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_205=writeHex_softfloat_flags
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_205=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_206=random_ui8
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_206=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_207=random_ui16
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_207=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_208=random_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_208=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_209=random_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_209=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_210=randomN_ui8
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_210=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_211=randomN_ui16
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_211=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_212=randomN_ui32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_212=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_213=randomN_ui64
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_213=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_214=softfloat_shiftRightJam32
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_214=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_215=softfloat_propagateNaNExtF80UI
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_215=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_216=softfloat_normSubnormalExtF80Sig
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_216=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_217=pre_c_initialization
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_217=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_218=post_pgo_initialization
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_218=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_219=pre_cpp_initialization
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_219=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_220=invoke_main
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_220=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_221=mainCRTStartup
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_221=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_222=capture_current_context
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_222=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_223=capture_previous_context
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_223=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_224=find_pe_section
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_224=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_225=is_potentially_valid_image_base
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_225=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_226=NtCurrentTeb
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_226=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_227=at_quick_exit
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_227=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_228=atexit
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_228=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_229=memset
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_229=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_230=fputs
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_230=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_231=exit
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_231=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_232=fputc
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_232=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_233=fflush
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_233=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_234=fesetround
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_234=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_235=feclearexcept
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_235=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_236=fetestexcept
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_236=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_237=rand
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_237=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_238=terminate
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_238=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_239=RtlCaptureContext
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_239=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_240=RtlLookupFunctionEntry
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_240=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_241=RtlVirtualUnwind
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_241=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_242=UnhandledExceptionFilter
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_242=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_243=SetUnhandledExceptionFilter
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_243=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_244=GetCurrentProcess
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_244=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_245=TerminateProcess
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_245=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_246=IsProcessorFeaturePresent
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_246=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_247=QueryPerformanceCounter
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_247=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_248=GetCurrentProcessId
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_248=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_249=GetCurrentThreadId
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_249=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_250=GetSystemTimeAsFileTime
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_250=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_251=InitializeSListHead
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_251=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_252=IsDebuggerPresent
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_252=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_253=GetStartupInfoW
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_253=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_254=GetModuleHandleW
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_254=0x00000000
OPTION_MACROS_MAP_FUNCTION_NAME_AT_255=sqrt
OPTION_MACROS_MAP_FUNCTION_TYPE_AT_255=0x00000000
